src/*.o
mlx/*.o
mlx/*.a
mlx/*.swift*
mlx/*.a
minilibx_linux/*.o
minilibx_linux/*.a
minilibx_linux/*
minilibx_linux-v2/*.o
minilibx_linux-v2/*.a
libft/*.o
libft/ft_printf/*.o
libft/get_next_line/*.o
libft/*.a
*.dylib
Cub3D
a.out*
.DS_Store
.ccls-cache/
*.bmp
*.log
tags
