src/*.o
mlx/*.o
mlx/*.a
mlx/*.swift*
minilibx_linux/*.o
minilibx_linux/*.a
libft/*.o
libft/ft_printf/*.o
libft/get_next_line/*.o
libft/*.a
*.dylib
cub3D
a.out*
.DS_Store
.ccls-cache/
*.bmp
*.log
tags
